{% extends "base.html" %}

{% block title %}
Get TinyURL
{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Short ID</th>
                <td>
                {% if short_id %}
                    {{ short_id }}
                {% else %}
                    Unknown Short ID
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Short URL</th>
                <td>
                {% if short_url %}
                    <a href="{{ short_url }}">{{ short_url }}</a>
                {% else %}
                    Unknown Short URL
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Long URL</th>
                <td>
                {% if long_url %}
                    <a href="{{ long_url }}">{{ long_url }}</a>
                {% else %}
                    Unknown Long URL
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>QR Code</th>
                <td>
                {% if short_qr %}
                    <img src="{{ short_qr }}" alt="Short QR" />
                {% endif %}
            </tr>
        </tbody>
    </table>
{% endblock %}
