{% extends "base.html" %}

{% block title %}
Get TinyURL
{% endblock %}

{% block body %}
    <table class="table">
        <tbody>
            <tr>
                <th>Short ID</th>
                <td>
                {% if short_id %}
                    {{ short_id }}
                {% else %}
                    Unknown Short ID
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Short URL</th>
                <td>
                {% if short_url %}
                    <a href="{{ short_url }}">{{ short_url }}</a>
                {% else %}
                    Unknown Short URL
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>Long URL</th>
                <td>
                {% if long_url %}
                    <a href="{{ long_url }}">{{ long_url }}</a>
                {% else %}
                    Unknown Long URL
                {% endif %}
                </td>
            </tr>
            <tr>
                <th>QR Code</th>
                <td>
                {% if short_url %}
                    <!-- https://developers.google.com/chart/infographics/docs/qr_codes -->
                    <div id="qr"></div>
                    <script>
                        var short_url = "{{ short_url | safe }}";
                        var qrURL = new URL('https://chart.googleapis.com/chart');
                        qrURL.searchParams.set('cht', 'qr');
                        qrURL.searchParams.set('chs', '100x100');
                        qrURL.searchParams.set('choe', 'UTF-8');
                        qrURL.searchParams.set('chl', short_url);
                        document.addEventListener('DOMContentLoaded', function() {
                            var qrImg = document.createElement('img');
                            qrImg.src = qrURL;
                            var qrDiv = document.getElementById('qr');
                            qrDiv.appendChild(qrImg);
                        });
                    </script>
                {% endif %}
            </tr>
        </tbody>
    </table>
{% endblock %}
